<div class="slimscroll">
  <div id="hanger-<%= @conversation.id %>" class="chatboxcontent">
    <% @messages.each do |message| %>
      <%= render partial: 'messages/message', locals: { message: message, haunt: current_haunt} %>
    <% end %>
  </div>
</div>
<div class="chatboxinput">
  <form>
    <%= text_area_tag :body, "", class: "chatboxtextarea", "data-rip" => @conversation.id, "data-behavior" => "hanger_speaker", placeholder: "Write here... " %>
  </form>
</div>
