<li id="online-<%= haunt.id %>">
  <img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
  <div class="info">
    <div class="user"><%= link_to haunt.display_name, conversation_haunt_path(haunt), method: :post, class: "online-link" %></div>
    <div class="status <%= set_availability_class(haunt.id, appearences_ids) %>"> <%= set_availability_text(haunt.id, appearences_ids) %></div>
  </div>
</li>
