<header class="header-login-signup">

  <div class="header-limiter">

    <h1><a href="#">Hang<span>out</span></a></h1>

    <nav>

    </nav>

    <ul>
      <li><%= link_to('Login', new_haunt_session_path) %></li>
      <li><%= link_to('Sign up', new_haunt_registration_path)  %></li>
    </ul>

  </div>

</header>
